.edit-post-visual-editor .editor-post-title__block,
.edit-post-visual-editor .editor-block-list__block {
	max-width: 750px!important;
}
.edit-post-visual-editor .editor-block-list__block[data-align=wide],
.edit-post-visual-editor .editor-block-list__block[data-align=full] {
    max-width: none!important;
}
.edit-post-visual-editor ul ul,
.edit-post-visual-editor ul ol,
.edit-post-visual-editor ol ol,
.edit-post-visual-editor ol ul {
	margin-top: 10px;
	margin-bottom: 10px;
}
.wp-block-heading h1 {
    font-size: 32px!important;
}
.wp-block-heading h2 {
    font-size: 24px!important;
}
.wp-block-heading h3 {
    font-size: 18px!important;
}
.wp-block-heading h4 {
    font-size: 16px!important;
}
.wp-block-heading h5 {
    font-size: 14px!important;
}
.wp-block-heading h6 {
    font-size: 12px!important;
}
.wp-block-table {
    border: none;
	border-collapse: collapse;
	width: 100%;
}
.wp-block-table__cell-content {
    font-size: 15px;
    padding: 0;
}
.wp-block-table th,
.wp-block-table td {
    border: 1px solid #ddd;
    padding: 16px 22px;
    text-align: left;
}
.wp-block-table thead th {
    color: #222;
    font-weight: bold;
}
.wp-block-table.is-style-stripes thead th {
    background-color: #222;
    border: 0;
    color: #fff;
}
.wp-block-button .wp-block-button__link {
    font-size: 1em;
    line-height: 24px!important;
}
.wp-block-verse pre,
pre.wp-block-verse,
.wp-block-preformatted pre {
	background: #f6f6f6;
	padding: 20px 1.5em!important;
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote,
.wp-block-quote {
	border-left: 2px solid #ddd!important;
	background-color: #f6f6f6;
	padding: 1.5em 1.8em!important;
	margin: 0;
}
.wp-block-freeform.block-library-rich-text__tinymce blockquote p:first-child,
.wp-block-quote p:first-child {
    margin-top: 0;
}
.wp-block-freeform.block-library-rich-text__tinymce blockquote p:last-child,
.wp-block-quote p:last-child {
    margin-bottom: 0;
}
#wpwrap .wp-block-quote.is-large,
#wpwrap .wp-block-quote.is-style-large {
	padding: 2.2em 1.8em;
}
#wpwrap .wp-block-quote.is-large p,
#wpwrap .wp-block-quote.is-style-large p {
    font-size: 1.25em;
    font-style: normal;
}
.wp-block-quote.is-large .wp-block-quote__citation,
.wp-block-quote.is-style-large .wp-block-quote__citation {
    font-size: 18px;
}
.wp-block-pullquote {
	background-color: #f6f6f6;
	border: none!important;
    margin: 3em 0 0;
    padding: 3em 1.5em 2.2em;
    position: relative;
}
.wp-block-pullquote.alignleft,
.wp-block-pullquote.alignright {
	margin-top: 25px;
}
.wp-block-pullquote.is-style-solid-color blockquote {
    max-width: 80%;
}
.wp-block-pullquote.is-style-solid-color blockquote p {
    margin-bottom: 20px;
}
.wp-block-pullquote blockquote>.block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty=true]::before,
.wp-block-pullquote blockquote>.editor-rich-text p {
    font-size: 1.25em!important;
}
.wp-block-pullquote:before {
    content: '\f10d';
    position: absolute;
    top: 0;
    left: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-left: -25px;
    overflow: hidden;
    border-radius: 50%;
    color: #777;
    font-family: 'Font Awesome 5 Free';
    font-size: 20px;
    font-weight: 900;
}
.wp-block-pullquote.is-style-solid-color:before {
    background: #777;
    color: #fff;
    top: -25px;
}
.wp-block-quote__citation {
    font-size: 14px;
    text-align: right;
}
.wp-block-pullquote cite,
.wp-block-pullquote footer,
.wp-block-pullquote__citation {
    display: block;
    font-size: 14px;
    text-transform: none;
}
.wp-block-cover-image.alignright .wp-block-cover-image-text,
.wp-block-cover-image.alignright h2 {
	font-size: 1.5em;
}
.editor-styles-wrapper ul ul,
.editor-styles-wrapper ol ul {
    list-style-type: disc!important;
}
.block-editor .wp-block-categories li {
    text-align: left;
}
.block-editor ul.wp-block-archives,
.block-editor .wp-block-categories ul {
	padding-left: 20px!important;
}
.wp-block-archives ul li {
    letter-spacing: 0.04em;
    position: relative;
}
.wp-block-categories ul.children {
    margin-top: 8px!important;
    margin-bottom: 0!important;
}
.wp-block-archives span.count {
    float: right;
    line-height: 24px;
    min-width: 24px;
    padding: 0 4px;
    text-align: center;
}
.block-library-list .editor-rich-text__tinymce,
.block-library-list .editor-rich-text__tinymce ol,
.block-library-list .editor-rich-text__tinymce ul {
	margin-left: 0!important;
}
.block-editor .wp-block-latest-posts {
    list-style: none;
    line-height: 1.5;
    padding-left: 0;
}
.wp-block-latest-posts li {
    margin-bottom: 10px;
}
.wp-block-latest-posts a {
    display: block;
}
.wp-block-latest-posts a,
.wp-block-archives a,
.wp-block-categories a {
    font-weight: 500;
    text-decoration: none;
}
.editor-block-list__block[data-type="core/separator"] {
	clear: both;
}
.wp-block-freeform.block-library-rich-text__tinymce h1,
.wp-block-freeform.block-library-rich-text__tinymce h2,
.wp-block-freeform.block-library-rich-text__tinymce h3,
.wp-block-freeform.block-library-rich-text__tinymce h4,
.wp-block-freeform.block-library-rich-text__tinymce h5,
.wp-block-freeform.block-library-rich-text__tinymce h6 {
    margin-top: 2em;
}
.wp-block-freeform.block-library-rich-text__tinymce > pre {
    background: #f6f6f6;
    overflow: auto;
    padding: 20px 1.5em!important;
    margin-bottom: 30px;
}
.wp-block-freeform.block-library-rich-text__tinymce dl,
.wp-block-freeform.block-library-rich-text__tinymce dd {
    margin: 0 0 20px;
}
.wp-block-freeform.block-library-rich-text__tinymce dt {
    color: #222;
    font-weight: bold;
    margin-bottom: 5px;
}
.wp-block-freeform.block-library-rich-text__tinymce hr {
    background: transparent;
    border: none;
    border-bottom: 1px solid #ddd;
    clear: both;
    height: 0;
    margin: 2em auto;
}
#wpwrap .editor-styles-wrapper {
    font-family: 'Poppins', 'Noto Serif';
    color: #585858;
}
#wpwrap .editor-post-title__block .editor-post-title__input {
    font-family: 'Poppins', 'Noto Serif', serif;
}
#wpwrap .editor-styles-wrapper,
#wpwrap .editor-styles-wrapper p {
    font-size: 15px;
}
#wpwrap .has-large-font-size {
    font-size: 24px;
}
#wpwrap .has-huge-font-size {
    font-size: 32px;
}
#wpwrap .edit-post-visual-editor a {
    color: #f5b417;
    cursor: pointer;
    text-decoration: none;
}
#wpwrap .edit-post-visual-editor a:hover {
    color: #000;
}
.wp-block-heading h1,
.wp-block-heading h2,
.wp-block-heading h3,
.wp-block-heading h4,
.wp-block-heading h5,
.wp-block-heading h6 {
    color: #222;
}